body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
	text-shadow: 6px 6px #000;
}

.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
	box-shadow: inset 0 0 1.0em #FFF;

}

h2 {
	clear: both;
	text-shadow: 1.5px 1.5px #851944;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.citacao-fiat {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
}

.citacao-petrobras {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
}

.navegacao-site {
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-transform: uppercase;
	float: right;
}

.links-navegacao li {
	text-transform: lowercase;
}

.rodape-pagina {
	background-color: rgba(0, 0, 0, 0.5);
	color: #000;
}

main a {
	color: #851944;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.citacao-fiat, .citacao-petrobras, .navegacao-site, .rodape-pagina {
	padding: 20px;
}

.citacao-fiat {
	float: right;
}

.citacao-petrobras {
	float: left;
}

.container {
	width: 720px;
	margin: auto;
	padding: 30px;
	padding-bottom: 80px;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
}

.icones-redes-sociais li {
	display: inline-block;
}

.icones-redes-sociais a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}

.gitlab {
	background-image: url(../image/gitlab.png);
	background-size: 45px, 45px;
}

.linkedin {
	background-image: url(../image/linkedin.png);
}

.artigo {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.leia-mais {
	padding: 8px;
	margin: 16px;
	display: block;
	font-size: 24px;
	text-align: center;
	background-color: #E6E7E8;
}

.minha-foto {
	width: 300px;
	height: 300px;
}

.navegacao-site {
	float: right;
	width: 20%;
	position: relative;
	top: 300px;
}

.navegacao-site {
	clear: right;
	box-sizing: border-box;
}

main {
	float: left;
	width: 80%;
}

.rodape-pagina {
	clear: both;
	position: fixed;
	bottom: 0px;
	width: 100%;
	box-shadow: inset 0 0 1.2em #FFF;
}

.minha-foto {
	position: absolute;
	top: 0px;
	right: 0px;
}

.title {
	text-transform: uppercase;
}

.minha-foto {
	-webkit-border-radius: 40px 0px 0px 40px;
	-moz-border-radius: 40px 0px 0px 40px;
	border-radius: 40px 0px 0px 40px;
	box-shadow: -8px 8px #000;
}

.navegacao-site {
	-webkit-border-radius: 40px 0px 0px 40px;
	-moz-border-radius: 40px 0px 0px 40px;
	border-radius: 40px 0px 0px 40px;
	box-shadow: -15px 15px #000, inset 0 0 1.5em #FFF;
}